.modal-header
	h4.modal-title 新建项目

.modal-body
	form.form-horizontal
		.form-group
			label.control-label.col-sm-4 项目名称
			.col-sm-6
				input.form-control(type="text" placeholder="Project Name" ng-model="project.name" required)

.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") 关闭
	button.btn.btn-success(ng-click="$close(project)") 创建