.container-fluid.project-container: .row
	.col-sm-4.col-md-3
		h3.no-top-margin {{ project.name }}
			small: a.pull-right(ui-sref="project.edit"): i.fa.fa-fw.fa-edit
		ul.nav.nav-pills.nav-stacked.project-navigation
			li(ng-class="{ active: $state.includes('project.dashboard') }"): a(ui-sref="project.dashboard") 面板
			li(ng-class="{ active: $state.includes('project.templates') }"): a(ui-sref="project.templates") 任务模板
			li(ng-class="{ active: $state.includes('project.inventory') }"): a(ui-sref="project.inventory") 主机列表
			li(ng-class="{ active: $state.includes('project.environment') }"): a(ui-sref="project.environment") 环境变量
			li(ng-class="{ active: $state.includes('project.keys') }"): a(ui-sref="project.keys") 密钥文件
			li(ng-class="{ active: $state.includes('project.repositories') }"): a(ui-sref="project.repositories") Playbook仓库		
			li(ng-class="{ active: $state.includes('project.users') }"): a(ui-sref="project.users") 团队

	.col-sm-8.col-md-9(style="border-left: 1px solid #EEE;")
		ui-view