.modal-header
    h4.modal-title
        span(ng-if="!env.id") 新建运行环境
        span(ng-if="env.id") 编辑运行环境

.modal-body
    form.form-horizontal
        label.control-label 运行环境名称
        input.form-control(type="text" ng-model="env.name" placeholder="Friendly name to identify your environment")

        label.control-label 环境设置 (必须是JSON对象)
        div(ui-ace="{mode: 'json', workerPath: '/public/js/ace/'}" class="form-control" style="height: 200px" ng-model="env.json")
        p.help-block
            | 必须是有效的JSON数据.
            | 用于ansible命令执行环境使用

.modal-footer
    button.btn.btn-default.pull-left(ng-click="$dismiss()") 关闭
    button.btn.btn-danger(ng-click="$close({ remove: true })") 删除
    button.btn.btn-success(ng-click="$close({ environment: env })")
        span(ng-if="!env.id") 创建
        span(ng-if="env.id") 更新
