.modal-header
	h4.modal-title 增加团队成员
.modal-body
	form.form-horizontal
		.form-group
			label.control-label.col-sm-4 用户
			.col-sm-6
				select.form-control(ng-model="user.user_id" ng-options="user.id as user.name for user in users")
					option(value="") -- 选择用户 --
		.form-group
			.col-sm-6.col-sm-offset-4
				.checkbox: label
					input(type="checkbox" ng-model="user.admin")
					| 管理员
.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") 关闭
	button.btn.btn-success(ng-click="$close(user)") 增加