h3 任务模板
	button.btn.btn-success.btn-xs.pull-right(ng-click="add()" style="margin-left: 5px;") 新建模板
	button.btn.btn-default.btn-xs.pull-right(ng-if="allShown && hasHiddenTemplates()" ng-click="hideHidden()") 隐藏项目
	button.btn.btn-default.btn-xs.pull-right(ng-if="!allShown && hasHiddenTemplates()" ng-click="showAll()") 展示隐藏内容

table.table.table-hover
	thead: tr
		th 名称
		th Playbook
		th SSH密钥
		th 执行主机
		th 环境
		th 仓库
		th &nbsp;
	tbody: tr(ng-repeat="tpl in templates" ng-click="update(tpl)" style="cursor: pointer;" ng-if="!tpl.hidden || allShown")
		td {{ tpl.alias }}
		td {{ tpl.playbook }}
		td {{ sshKeysAssoc[tpl.ssh_key_id].name }}
		td {{ inventoryAssoc[tpl.inventory_id].name }}
		td {{ environmentAssoc[tpl.environment_id].name }}
		td {{ reposAssoc[tpl.repository_id].name }}
		td: .pull-right
			button.btn.btn-default.btn-xs(ng-if="!tpl.hidden" ng-click="hideTemplate(tpl); $event.stopPropagation();") 隐藏
			button.btn.btn-default.btn-xs(ng-if="tpl.hidden" ng-click="showTemplate(tpl); $event.stopPropagation();") 展示
			button.btn.btn-info.btn-xs(ng-click="copy(tpl); $event.stopPropagation();" style="margin-left: 5px;") 复制
			button.btn.btn-success.btn-xs(ng-click="run(tpl); $event.stopPropagation();" style="margin-left: 5px;") 运行
