.modal-header
	h4.modal-title
		span(ng-if="!inventory.id") 创建主机清单
		span(ng-if="inventory.id") 更新主机清单
.modal-body
	form.form-horizontal
		.form-group
			label.control-label.col-sm-4 名称
			.col-sm-6
				input.form-control(type="text" ng-model="inventory.name" placeholder="Inventory Name")

		.form-group
			label.control-label.col-sm-4 类型
			.col-sm-6
				select.form-control(ng-model="inventory.type" ng-init="inventory.type = inventory.type || 'static'")
					option(value="static") 静态配置
					option(value="file") 文件

		.form-group(ng-if="inventory.type == 'file'")
			label.control-label.col-sm-4 文件路径
			.col-sm-6
				input.form-control(type="text" ng-model="inventory.inventory")

		.form-group(ng-if="inventory.type != 'static' && inventory.type != 'file'")
			label.control-label.col-sm-4 远程访问密钥
			.col-sm-6
				select.form-control(ng-model="inventory.key_id" ng-options="key.id as key.name for key in remote_keys")
					option(value="") -- 选择密钥 --

		.form-group
			label.control-label.col-sm-4 SSH 密钥
			.col-sm-6
				select.form-control(ng-model="inventory.ssh_key_id" ng-options="key.id as key.name for key in sshKeys")
					option(value="") -- 选择 SSH Key --
				p.help-block 用户登入服务器的密钥

.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") 关闭
	button.btn.btn-danger(ng-if="inventory.id" ng-click="$close({ remove: true })") 删除
	button.btn.btn-success(ng-click="$close({ inventory: inventory })")
		span(ng-if="!inventory.id") 创建
		span(ng-if="inventory.id") 更新