.modal-header
  h4.modal-title 新建用户
.modal-body
  form.form-horizontal
    .form-group
      label.control-label.col-sm-4(for="name") 名称
      .col-sm-6
        input#name.form-control(type="text" placeholder="User Name" ng-model="user.name" autofocus required)
    .form-group
      label.control-label.col-sm-4(for="username") 用户名
      .col-sm-6
        input#username.form-control(type="text" placeholder="Username" ng-model="user.username" required)
    .form-group
      label.control-label.col-sm-4(for="email") 邮件
      .col-sm-6
        input#email.form-control(type="email" placeholder="Email Address" ng-model="user.email" required)

    .form-group
      label.control-label.col-sm-4(for="password") 密码
      .col-sm-6
        input#password.form-control(type="password" placeholder="User Password" ng-model="user.password" required)

    .form-group
      .col-sm-8.col-sm-offset-4: .checkbox: label
        input#admin(type="checkbox" title="User have admin privileges" ng-model="user.admin")
        |  管理员用户
    .form-group
      .col-sm-8.col-sm-offset-4: .checkbox: label
        input#alert(type="checkbox" title="Send email alerts about failed tasks" ng-model="user.alert")
        |  发送告警

.modal-footer
  button.btn.btn-default.pull-left(ng-click="$dismiss()") 关闭
  button.btn.btn-success(ng-click="$close(user)") 创建用户
